<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>

  <body>
    {{> header}}
    <p>{{portfolioText}}</p>
  </body>
  
  {{> footer}}
</html>
